---
import GenericCard from "../ui/GenericCard.tsx";
import { formatDate } from "../../utils/formatDate.ts";

// Import the icons as Astro components.
// Note the capitalized names (e.g., CakeIcon), which is a convention for components.
import FolderIcon from "../../assets/icons/folder-heart-svgrepo-com.svg";

const LatestProjectData = [
  {
    title: "Violet-Blog",
    content: "Personal Blog inspired by the color violet for themeing",
    date: "2025-06-21",
    link: "#",
  },
  {
    title: "Backblaze S3 Bucket Handler",
    content: "LOREM IPSUM",
    date: "2024-01-15",
    link: "https://github.com/Warchafter/b2-s3-uploader",
  },
  {
    title: "Video to Image to Ascii",
    content:
      "This was inspired by a codepen that I saw where they would take a normal image and they would transform it into a 2d array of ascii characters",
    date: "2023-12-20",
    link: "https://github.com/Warchafter/video-to-image-to-ascii",
  },
  {
    title: "TEG",
    content: "LOREM IPSUM",
    date: "2023-11-30",
    link: "https://github.com/Warchafter/TEG",
  },
];
---

<GenericCard>
  <div class="flex flex-row gap-4">
    <FolderIcon aria-label="Folder Icon" class="w-7 h-7 text-purple-500" />
    <h3>Latest Projects</h3>
  </div>
  <div class="flex flex-col gap-4">
    {
      LatestProjectData.map((key, index) => {
        return (
          <a
            class="flex flex-col p-3 gap-4 border border-slate-600 bg-neutral-900
            hover:border-slate-500 hover:bg-neutral-800"
            id={`latest-project-${index}`}
            href={`${key.link}`}
          >
            <div class="flex justify-between">
              <span class="text-lg text-stone-50 font-bold">{key.title}</span>
              <span class="text-md text-stone-400">{formatDate(key.date)}</span>
            </div>
            <div class="">
              <span class="text-base text-stone-300 font-light">
                {key.content}
              </span>
            </div>
          </a>
        );
      })
    }
  </div>
</GenericCard>
