---
import GenericCard from "../ui/GenericCard.astro";

// Import the icons as Astro components.
// Note the capitalized names (e.g., CakeIcon), which is a convention for components.
import WorkIcon from "../../assets/icons/work-svgrepo-com.svg";

const WorkExperienceData = [
  {
    date: "Nov 2024 - Present",
    company: "Gold Tone Music Group",
    jobTitle: "Full Stack Engineer",
    description:
      "Developed full-stack applications with React and PHP, engineered webhook-based logistics automation, refactored legacy systems, created internal dashboards, and led UI/UX efforts reducing manual workflows by 40%.",
  },
  {
    date: "2022 - 2024",
    company: "Majestic Marble & Granite",
    jobTitle: "CAD/CAM Programmer / Software Developer",
    description:
      "Created performance dashboards for CNC operations, optimized router programming improving efficiency by 35%, and implemented tool usage protocols.",
  },
  {
    date: "2020 - 2022",
    company: "Banplus Banco Universal",
    jobTitle: "Digital Channel Specialist",
    description:
      "Designed mobile app mockups, created performance dashboards, automated data workflows with Access & Power BI, and led planning for business-banking platform.",
  },
  {
    date: "2019 - 2020",
    company: "Citibank Venezuela",
    jobTitle: "Engineering Intern",
    description:
      "Automated DWH reporting pipelines for the Sales MIS unit using Excel, Access, and SAS. Collaborated on segmented marketing campaigns and CRM automations.",
  },
];
---

<GenericCard>
  <div class="flex flex-row gap-4">
    <WorkIcon aria-label="Work Icon" class="w-7 h-7 text-purple-500" />
    <h3>Work Experience</h3>
  </div>
  <div class="flex flex-col gap-4 divide-y divide-neutral-600">
    {
      WorkExperienceData.map((key, index) => {
        return (
          <div
            class="flex flex-col p-3 gap-4 py-4"
            id={`work-experience-${index}`}
          >
            <div class="flex flex-col gap-2">
              <div class="flex justify-between items-start">
                <span class="text-lg text-stone-50 font-bold">
                  {key.company}
                </span>
                <span class="text-md text-stone-400">{key.date}</span>
              </div>
              <span class="text-md text-purple-400 font-medium">
                {key.jobTitle}
              </span>
              <span class="text-base text-stone-300 font-light">
                {key.description}
              </span>
            </div>
          </div>
        );
      })
    }
  </div>
</GenericCard>
